html, body{
	height: 100%;
	margin: 0;
	padding: 0;
}

body:hover .pmx-title-bar{
	opacity: 0.5;
}

.pmx-title-bar{
    position: absolute;
    right: 0;
    opacity: 0;
    transition: opacity 0.8s ease;
}

.pmx-title-bar button{
	display: block;
    margin-bottom: 10px;
    height: 20px;
    width: 20px;
    border: none;
    background-size: contain;
    background-color: white;
}

#pmx-btn-close{
	-webkit-app-region: no-drag;
	background-image: url('img/interface/close.svg');
}

#pmx-btn-move{
	-webkit-app-region: drag;
	background-image: url('img/interface/move.svg');
}