.pmx-app-container{
    z-index: 0;
    max-height: 100%;
    &:hover .pmx-app-header{
        opacity: 0.3;
        &:hover{
            opacity: 1;
        }
    }
} 

.pmx-app-header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 70;
    width: 100%; 
    height: 70px;
    overflow: hidden;
    opacity: 0;
    //background-color: #fff;
    box-shadow: rgba(0,0,0,0.5) 0 0 10px;  
    transition: opacity 0.8s ease;
    @include window-small{
        display: none;
    }
    
    .action-icon{
        &::before{
            top: 5px;
            position: relative;
            color: blue;
        }
    }
}

.pmx-app-body{
    z-index: 50; 
    justify-content: space-between;
    display: flex;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: stretch;
}

.pmx-app-section, .pmx-app-section.ng-enter.ng-enter-active{
    max-height: 100%;
    overflow-y: auto;
    flex-basis: 50%;
    transition: all 0.8s ease;
    transform: scaleX(1);
    &.ng-leave.ng-leave-active{
        flex-basis: 0; 
        transform: scaleX(0); 
        width: 0;
    }
}

@media (max-height : 200px) {
    .pmx-lists-section, .pmx-playlist-section{
        display: none; 
    }
}
 
.pmx-lists-section, .pmx-playlist-section{
    @include window-small{ 
        display: none;
    } 
}

.pmx-playlist-section{
    z-index: 75;
    @include window-medium{ 
        display: none;
    } 
}

@media (max-height : 200px), (max-width : $mq-medium) {
    .pmx-menu-btn-playlist{
        opacity: 0.5;
        pointer-events: none; 
    }        
}


.pmx-lists-section, .pmx-lists-section.ng-enter.ng-enter-active{
    position: absolute;
    z-index: 60;
    width: 50%;
    transform-origin: left;
} 

.pmx-player-section{
    overflow: hidden;
    flex-basis: 100%;
    background-color: #000;
}

.pmx-playlist-section, .pmx-playlist-section.ng-enter.ng-enter-active{
    width: 100%;
    transform-origin: right;
}