<md-toolbar>
  <div class="md-toolbar-tools">
    <md-button ng-click="SectionsManager.Search.toggle();SectionsManager.List.close()" aria-label="Search" class="pmx-menu-btn-list  md-fab md-raised md-mini">
      <md-icon class="fa fa-search action-icon" aria-label="Search"></md-icon>
    </md-button>
    <md-button ng-click="SectionsManager.List.toggle();SectionsManager.Search.close()" aria-label="Lists" class="pmx-menu-btn-list  md-fab md-raised md-mini">
      <md-icon class="fa fa-list-ul action-icon" aria-label="Lists"></md-icon>
    </md-button>
    <md-button ng-click="SectionsManager.Playlist.toggle()" aria-label="PlayList" class="pmx-menu-btn-playlist  md-fab md-raised md-mini">
      <md-icon class="fa fa-youtube-play action-icon" aria-label="PlayList"></md-icon>
    </md-button>
  </div>
</md-toolbar>




<!--md-fab-speed-dial md-open="isOpen" md-direction="{{selectedDirection}}" ng-class="selectedMode">
  
  <md-fab-trigger>
    <md-button aria-label="menu" class="md-fab md-warn">
      <md-icon class="fa fa-bars action-icon"></md-icon>
    </md-button> 
  </md-fab-trigger>
  
  <md-fab-actions>
    <md-button ng-click="SectionsManager.Search.toggle()" aria-label="Search" class="pmx-menu-btn-list  md-fab md-raised md-mini">
      <md-icon class="fa fa-search action-icon" aria-label="Search"></md-icon>
    </md-button>
    <md-button ng-click="SectionsManager.List.toggle()" aria-label="Lists" class="pmx-menu-btn-list  md-fab md-raised md-mini">
      <md-icon class="fa fa-list-ul action-icon" aria-label="Lists"></md-icon>
    </md-button>
    <md-button ng-click="SectionsManager.Playlist.toggle()" aria-label="PlayList" class="pmx-menu-btn-playlist  md-fab md-raised md-mini">
      <md-icon class="fa fa-youtube-play action-icon" aria-label="PlayList"></md-icon>
    </md-button>
  </md-fab-actions>
  
</md-fab-speed-dial-->