<!--md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')"-->
<section class="md-sidenav-left md-whiteframe-z2" ng-if="!SectionsManager.List.isClosed">  

  <md-toolbar class="md-theme-indigo">
    <h1 class="md-toolbar-tools">Lists</h1>
  </md-toolbar>
  
  <md-content layout-padding class="pmx-list-container">
    
    <md-list sv-root sv-part="Lists.playlists" class="pmx-list" >
      <md-list-item class="md-3-line pmx-list-item" sv-element ng-repeat="list in Lists.playlists" ng-click="Lists.select(list);SectionsManager.ListVideo.open();" >
        <div class="md-list-item-text" style="padding: 0 10px;" layout="column">
          <h3>{{ ::list.name }}</h3>
          <md-button class="md-icon-button md-primary" ng-click="Playlist.concatPlaylist(list.playlist);$event.stopPropagation();" aria-label="Add to Playlist">
              <i class="fa fa-plus"></i>
          </md-button>
        </div>
            <md-tooltip md-direction="top">
            {{::list.name}}
          </md-tooltip>
      </md-list-item>
    </md-list>
    
  </md-content>
  
</section>