<!--md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')"-->
<section class="md-sidenav-left md-whiteframe-z2" ng-if="!SectionsManager.List.isClosed">  

  <md-toolbar class="md-theme-indigo">
    <h1 class="md-toolbar-tools">Lists</h1>
    <h4 class="pmx-list-functions" >
      <md-button class="md-icon-button md-primary" ng-click="Lists.addList()" aria-label="Create List">
        <i class="fa fa-plus"></i>
        <md-tooltip md-direction="right">Add New List</md-tooltip>
      </md-button>
      <md-button class="md-icon-button md-primary" ng-click="Backup.saveLists()" aria-label="Save Lists">
        <i class="fa fa-download"></i>
        <md-tooltip md-direction="right">Save Lists</md-tooltip>
      </md-button>
      <md-button class="md-icon-button md-primary" ng-click="Backup.loadLists()" aria-label="Load Lists">
        <i class="fa fa-upload"></i>
        <md-tooltip md-direction="right">Load Lists</md-tooltip>
      </md-button>
    </h4> 
  </md-toolbar>
   
  <md-content layout-padding class="pmx-list-container">
    
    <md-list sv-root sv-on-sort="Lists.onChangeList()" sv-part="Lists.playlists" class="pmx-list" >
      <md-list-item class="md-3-line pmx-list-item" sv-element ng-class="{'list-item-is-selected':(Lists.selectedIndex===$index)}" ng-repeat="list in Lists.playlists" ng-click="Lists.select(list);SectionsManager.ListVideo.open();" >
        <div class="md-list-item-text" style="padding: 0 10px;" layout="column">
          
          <h3>
            <span ng-if="!Lists.isEditing(list)">{{ ::list.name }}</span>
            <div ng-if="Lists.isEditing(list)">
              <md-input-container ng-click="$event.stopPropagation();"> 
                <label>List's Name</label>
                <input ng-model="list.name" type="text">
              </md-input-container>
              
              <md-button aria-label="Save" class="md-icon-button launch" ng-click="Lists.saveLists();Lists.editingList=null;$event.stopPropagation();" >
                <md-icon class="fa fa-save"></md-icon>
                <md-tooltip md-direction="right">Save</md-tooltip>
              </md-button>
            </div>
          </h3>
          
          <h4>
            <md-button class="md-icon-button md-primary" ng-click="Playlist.concatPlaylist(list.playlist);$event.stopPropagation();" aria-label="Add to Playlist">
                <i class="fa fa-plus"></i>
                <md-tooltip md-direction="right">Add to Playlist</md-tooltip>
            </md-button>
            <md-button ng-if="!Lists.isEditing(list)" class="md-icon-button md-primary" ng-click="Lists.editList(list);$event.stopPropagation();" aria-label="Rename List">
                <i class="fa fa-pencil"></i>
                <md-tooltip md-direction="right">Rename List</md-tooltip>
            </md-button>
            <md-button class="md-icon-button md-primary" ng-click="Lists.removeList(list);$event.stopPropagation();" aria-label="Remove">
              <i class="fa fa-trash"></i>
              <md-tooltip md-direction="right">Delete List</md-tooltip>
            </md-button>
          </h4>
        </div>
        <md-tooltip md-direction="top">
          {{list.name}}
        </md-tooltip>
      </md-list-item>
    </md-list>
    
  </md-content>
  
</section>