<section class="md-sidenav-left md-whiteframe-z2 pmx-section-list-container" ng-if="!SectionsManager.Search.isClosed">  

  <md-toolbar class="md-theme-indigo">
    <div class="pmx-search-box" >
        <md-input-container> 
          <label>Search</label>
          <input ng-model="Search.searchText" ng-keyup="$event.keyCode == 13 && Search.fetch()" type="text">
        </md-input-container>
        
        <!--md-button aria-label="Search" class="md-icon-button launch" ng-click="Search.fetch()" >
          <md-icon class="fa fa-search"></md-icon>
        </md-button-->
    </div> 
  </md-toolbar>
  
  
  <md-content layout-padding class="pmx-list-container"> 
    <md-list class="pmx-list" >
      <md-list-item class="md-3-line pmx-list-item"  ng-repeat="item in Search.list">
        <img draggable="false" class="md-avatar pmx-list-image" ng-src="https://img.youtube.com/vi/{{::item.id}}/mqdefault.jpg"  />
        <div class="md-list-item-text pmx-list-info" layout="column">
          <h3>{{ ::item.title }}</h3>
          <h4> 
            {{ ::item.prettyDuration }} 
            <md-button class="md-icon-button md-primary" ng-click="Playlist.addVideo(item); $event.stopPropagation();" aria-label="Add to Playlist">
              <i class="fa fa-plus"></i>
              <md-tooltip md-direction="right">Add to Playlist</md-tooltip>
            </md-button>
            
            </h4>
        </div>
            <md-tooltip md-direction="top">
            {{::item.title}}
          </md-tooltip>
      </md-list-item>
    </md-list>
    
  </md-content>
  
</section>