<section class="lists-panel-container" >
  <mat-toolbar color="primary">
    <button mat-button matTooltip="Back" (click)="back()" class="back-button">
      <i class="fa fa-chevron-left" ></i>
    </button>
    <input type="text" class="list-name" [value]="ListService.selected.name" (blur)="ListService.renameSelectedList(listName)" #listName />
    <button mat-button matTooltip="Add All to Playlist" (click)="PlaylistService.concatPlaylist(ListService.selected)">
      <i class="fa fa-share" ></i>
    </button>
  </mat-toolbar>

  <app-list [list]="list" [actions]="actions" (onChange)="ListService.onChangeList(ListService.selected)" [dropGroup]="['list-video']" ></app-list>


</section>
