<section class="lists-panel-container" >
  <mat-toolbar color="primary">
    <input placeholder="Search" class="input-search" [(ngModel)]="searchText" (keyup.enter)="search()" >

    <button mat-button (click)="search()">
      <i class="fa fa-search" ></i>
    </button>
  </mat-toolbar>

  <mat-tab-group>
    <mat-tab *ngIf="searchResult.length" [label]="'Videos (' + searchResult.length + ')'">
      <app-list [list]="searchResult" [actions]="videoActions" [dropGroup]="['videos-list']" [canOrder]="false" ></app-list>
    </mat-tab>
    <mat-tab *ngIf="SearchService.playlists.length" [label]="'Playlists (' + SearchService.playlists.length + ')'">
      <app-list [list]="SearchService.playlists" [actions]="playlistActions" [dropGroup]="['playlist-videos-list']" [canOrder]="false" ></app-list>
    </mat-tab>
  </mat-tab-group>
</section>
